* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins';
    background-color: rgb(17,17,17);
}

/* For mobile and tab view menu */
.navbar {
    width: 100vw;
    height: 100vh;
    background-color: rgb(37,37,37);
    position: fixed;
    top: 0;
    left: -100vw;
    transition: all .5s ease-in;
}
.change {
    left: 0;
}

.icon-ham {
    width: 35px;
    height: 20px;
    position: fixed;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37,37,37);
    padding: 14px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.line {
    width: 63%;
    height: 2px;
    background-color: rgb(248,245,248);
    transition: all .5s ease;
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-5px, 6px) ;
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotateZ(45deg) translate(-6px, -8px);
}

/* menu items */

.nav-list {
    width: 100%;
    margin-top: 60px;
    list-style-type: none;
    background-color: rgb(37,37,37);
}

.navbar .item {
    border-bottom: 1px solid rgba(255,248,220,0.1);
    margin: 0 20px ;
    padding: 20px 0;
}
.navbar .link {
    width: 100%;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(248,245,248);
    position: relative;
}
.link span {
    position: absolute;
    left: 38px;
    top: 0.5px;
}
.link .fas {
    font-size: .8em;
}
.item:nth-child(5) {
    border: none;
}
.fa-folder-open {
    font-size: .9em !important;
}

.link.active {
    color: rgb(255,180,0);
}

